extends layout

block content
  script.
    $(document).ready(function() {
      if (#{settings.shared_pages.page_header.page_title_image.enable_animation} == true && #{settings.api_page.page_header.show_img} == true)
        startRotateElement('img#header-img');
    });

  .col-md-12.cardSpacer
    if settings.api_page.page_header.show_img == true || settings.api_page.page_header.show_title == true || settings.api_page.page_header.show_description == true
      #page-header-container(style='align-items:' + (settings.api_page.page_header.show_img == true && settings.api_page.page_header.show_title == true && settings.api_page.page_header.show_description == true ? 'flex-start' : 'center'))
        if settings.api_page.page_header.show_img == true
          #header-img-container
            img#header-img(src=(settings.shared_pages.page_header.page_title_image == null || settings.shared_pages.page_header.page_title_image.image_path == null || settings.shared_pages.page_header.page_title_image.image_path == '' ? '/img/page-title-img.png' : settings.shared_pages.page_header.page_title_image.image_path))
        #page-title-container
          if settings.api_page.page_header.show_title == true
            h3#page-title #{settings.coin.name} Explorer API
          .sub-page-header.text-muted
            | XPChain 운영 기준으로 정리된 API 문서입니다. 체인 상태와 익스플로러 인덱스 상태를 분리해 확인할 수 있습니다.
      .cardSpacer.clearfix

    .card.card-default.border-0
      .card-header
        strong API Documentation (XPChain)
      .card-body
        .mb-3
          p.mb-1
            strong Base URL:
            |  #{address}
          p.mb-0.text-muted
            | 본 API는 조회용입니다. 투자/수익/가격 보장 목적의 정보는 제공하지 않습니다.

        h4 Core RPC API
        p
          em 노드 RPC 프록시 엔드포인트
        ul
          if settings.api_page.public_apis.rpc.getblockcount.enabled == true && settings.api_cmds['getblockcount'] != null && settings.api_cmds['getblockcount'] != ''
            li
              p
                div.fw-bold getblockcount
                div.text-muted 체인 최신 블록 높이
                a(href='/api/getblockcount', rel='nofollow') #{address}/api/getblockcount
          if settings.api_page.public_apis.rpc.getconnectioncount.enabled == true && settings.api_cmds['getconnectioncount'] != null && settings.api_cmds['getconnectioncount'] != ''
            li
              p
                div.fw-bold getconnectioncount
                div.text-muted 현재 노드 연결 수
                a(href='/api/getconnectioncount', rel='nofollow') #{address}/api/getconnectioncount
          if settings.api_page.public_apis.rpc.getdifficulty.enabled == true && settings.api_cmds['getdifficulty'] != null && settings.api_cmds['getdifficulty'] != ''
            li
              p
                div.fw-bold getdifficulty
                div.text-muted 현재 난이도
                a(href='/api/getdifficulty', rel='nofollow') #{address}/api/getdifficulty
          if settings.api_page.public_apis.rpc.getblockhash.enabled == true && settings.api_cmds['getblockhash'] != null && settings.api_cmds['getblockhash'] != ''
            li
              p
                div.fw-bold getblockhash?index=[height]
                div.text-muted 블록 높이로 블록 해시 조회
                a(href='/api/getblockhash?index=' + settings.api_page.sample_data.blockindex, rel='nofollow') #{address}/api/getblockhash?index=#{settings.api_page.sample_data.blockindex}
          if settings.api_page.public_apis.rpc.getblock.enabled == true && settings.api_cmds['getblock'] != null && settings.api_cmds['getblock'] != ''
            li
              p
                div.fw-bold getblock?hash=[blockhash]
                div.text-muted 블록 해시로 블록 데이터 조회
                a(href='/api/getblock?hash=' + settings.api_page.sample_data.blockhash, rel='nofollow') #{address}/api/getblock?hash=#{settings.api_page.sample_data.blockhash}
          if settings.api_page.public_apis.rpc.getrawtransaction.enabled == true && settings.api_cmds['getrawtransaction'] != null && settings.api_cmds['getrawtransaction'] != ''
            li
              p
                div.fw-bold getrawtransaction?txid=[txid]&decrypt=1
                div.text-muted 트랜잭션 raw/decode 조회
                a(href='/api/getrawtransaction?txid=' + settings.api_page.sample_data.txhash + '&decrypt=1', rel='nofollow') #{address}/api/getrawtransaction?txid=#{settings.api_page.sample_data.txhash}&decrypt=1

        hr

        h4 Explorer Indexed API
        p
          em 익스플로러 DB 인덱스 기반 엔드포인트
        ul
          li
            p
              div.fw-bold getdbstatus
              div.text-muted Explorer DB 블록 높이와 노드 블록 높이 차이(lag) 확인
              a(href='/ext/getdbstatus') #{address}/ext/getdbstatus
          if settings.api_page.public_apis.ext.getaddress.enabled == true
            li
              p
                div.fw-bold getaddress/[address]
                div.text-muted 주소 요약 정보 조회
                a(href='/ext/getaddress/' + settings.api_page.sample_data.address) #{address}/ext/getaddress/#{settings.api_page.sample_data.address}
          if settings.api_page.public_apis.ext.getaddresstxs.enabled == true
            li
              p
                div.fw-bold getaddresstxs/[address]/[start]/[length]
                div.text-muted 주소 거래 목록 조회
                a(href='/ext/getaddresstxs/' + settings.api_page.sample_data.address + '/0/50') #{address}/ext/getaddresstxs/#{settings.api_page.sample_data.address}/0/50
          if settings.api_page.public_apis.ext.gettx.enabled == true
            li
              p
                div.fw-bold gettx/[txid]
                div.text-muted 익스플로러 인덱싱된 트랜잭션 상세 조회
                a(href='/ext/gettx/' + settings.api_page.sample_data.txhash) #{address}/ext/gettx/#{settings.api_page.sample_data.txhash}
          if settings.api_page.public_apis.ext.getbalance.enabled == true
            li
              p
                div.fw-bold getbalance/[address]
                div.text-muted 주소 잔액 조회
                a(href='/ext/getbalance/' + settings.api_page.sample_data.address) #{address}/ext/getbalance/#{settings.api_page.sample_data.address}
          if settings.api_page.public_apis.ext.getlasttxs.enabled == true
            li
              p
                div.fw-bold getlasttxs/[min]/[start]/[length]
                div.text-muted 최근 트랜잭션 목록 조회
                a(href='/ext/getlasttxs/100/0/100') #{address}/ext/getlasttxs/100/0/100
          if settings.api_page.public_apis.ext.getnetworkpeers.enabled == true
            li
              p
                div.fw-bold getnetworkpeers
                div.text-muted 최근 피어 연결 목록 조회
                a(href='/ext/getnetworkpeers') #{address}/ext/getnetworkpeers

        hr

        h4 Direct Links (Explorer)
        p
          em 익스플로러 페이지 링크
        ul
          li
            p
              div.fw-bold /tx/[txid]
              a(href='/tx/' + settings.api_page.sample_data.txhash) #{address}/tx/#{settings.api_page.sample_data.txhash}
          li
            p
              div.fw-bold /block/[hash]
              a(href='/block/' + settings.api_page.sample_data.blockhash) #{address}/block/#{settings.api_page.sample_data.blockhash}
          li
            p
              div.fw-bold /address/[address]
              a(href='/address/' + settings.api_page.sample_data.address) #{address}/address/#{settings.api_page.sample_data.address}
          li
            p
              div.fw-bold /qr/[address]
              a(href='/qr/' + settings.api_page.sample_data.address) #{address}/qr/#{settings.api_page.sample_data.address}
